/*********** HEADER ************/
body{
    font:15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0px;
}
/* header section */
header {
    background: white; 
    padding-top: 30px;
    min-height: 10px;
    margin: 0px 0px;
}
/* top logo */
header #name{
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}
header h2 {
    color: black;
    margin: 0;
    font-size: 30px;
    text-decoration: none;
}


/* naviation bar*/
.nav {
  overflow: hidden;
  background-color: #e9e9e9;
  padding: 0px 80px 0px 450px;
  text-align: center;
}
header a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 15px;
}
.search-icon {
    display: inline-block;
    text-align: right;
    float: right;
    padding: 12px;
    max-height: 25px;
    max-width: 25px;
}
.nav-icon {
    display: inline-block;
    text-align: right;
    float: right;
    padding: 12px;
    max-height: 25px;
    max-width: 25px;
}
.cart {
    display: inline-block;
    text-align: right;
    float: right;
    padding: 12px;
    max-height: 25px;
    max-width: 25px;
}

.account {
    display: inline-block;
    text-align: right;
    float: right;
    padding: 13px 10px;
    max-height: 25px;
    max-width: 25px;
}

/* effect of navigation bar */
.nav a:hover {
  background-color: #ddd;
  color: black;
}
.nav a.active {
  background-color: black;
  color: white;
}
.nav input[type=text] {
  display: inline-block;
  text-align: left;
  float: right;
  padding: 6px;
  border: none;
  margin-top: 10px;
  margin-right: 16px;
  font-size: 17px;
}
@media screen and (max-width: 600px) {
  .nav a, .nav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .nav input[type=text] {
    border: 1px solid #ccc;
  }
}

/* items in the bag*/
.grid {
  display:grid;
  grid-template-rows: repeat(3, 200px);
  grid-gap: 10px;
  margin: 50px 80px;
  grid-auto-rows: 200px;
  align-content: stretch;
  padding-bottom: 80px;
}

#cartTitle {
  line-height: 20px;
  font-size: 20px;
  color: grey;
  font-weight: 300;
  text-align: center;
  padding: 30px 80px 0px 80px;

}

.item {
  height: 200px;
  border: 0.5px solid #e8e8e8;
  align-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.item img {
  max-height: 180px;
  max-width: 180px;
  padding: 10px 100px;
}
.description {
  padding: 10px 30px;
  margin-right: 60px;
  width: 200px;
}
.description span {
  display: block;
  font-size: 16px;
  color: #43484D;
  font-weight: 600;
}
.description span:first-child {
  margin-bottom: 8px;
}
.description span:last-child {
  font-weight: 400;
  margin-top: 15px;
  color: #86939E;
}
.quantity {
  padding-top: 10px;
  margin-right: 100px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #e8e8e8;
  border: none;
  cursor: pointer;
}
button:focus,
input:focus {
  outline:0;
}

/* item price*/
.price {
  width: 90px;
  padding-top: 15px;
  padding-right: 100px;
  font-size: 20px;
  color: black;
  font-weight: 500;
  display: inline-block;
}
.button{
    background-color: #e8e8e8;
    margin:0px 10px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 15px;
    display: flex;
}
.button:hover {
  background-color: black;
  color: white;
}
.buttonDelete{
    background-color: #e8e8e8;
    margin:0px 10px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 15px;
    display: flex;
}
.buttonDelete:hover {
  background-color: black;
  color: white;
}


/* wishlist*/
#myDIV {
  width: 100px;
  height: 300px;
  border: 1px solid #ccc;
  overflow-x: scroll;
  bottom: 400px;
}
#content {
  width: 250px;
  background-color: #ccc;
}




/* bottom checkout*/
#bottom{
    width: 92%;
    height: 70px;
    padding: 10px 80px;
    color: white;
    background: grey;
    position: fixed;
    bottom: 0;
}
.total-price {
  width: 200px;
  padding-top: 20px;
  padding-right: 270px;
  font-size: 20px;
  color: black;
  font-weight: 500;
  display: inline-block;
  float: right;
}
 /* button effect */
.button_1{
    margin: 20px 60px;
    background-color: black;
    padding: 10px 50px;
    color: white;
    float: right;
    bottom: 100px;
    display: inline-block;
    cursor: pointer;
}

.button_1:hover {
  background-color: white;
  color: black}
